<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Select</title>
  <style>
    input {
      text-align: center;
    }

    body {
      background: #fafafa
    }

    .input-boxes {
      margin: 40px 40px 10px 60px;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="container z-depth-1" :style="container">
      <div v-if="!ready" :style="gridWrapper">
        <div :style="textStyle" class="text">
          <h2 :style="centerText">番号を入力してください</h2>
        </div>

        <div :style="itemsStyle" class="items">
          <div class="input-boxes" :style="flexCol">
            <div :style="flexRow" v-for="i in range">
              <input @keyup.40="nextBox(i)" @keyup.38="prevBox(i)" type="text" :id="`book${i}`" :name="`book${i}`" :autofocus="i == 1"
                v-model="books[i-1]">
              <button class="btn-flat" type="button" @click="clear(i)">
                <i class="material-icons">clear</i>
              </button>
            </div>
          </div>
        </div>

        <div :style="buttonsStyle" class="buttons">
          <button class="btn-large" :disabled="allEmpty" type="button" @click="done">enter</button>
          <button class="btn-large" type="button" @click="cancel">cancel</button>
        </div>

      </div>

      <div v-else :style="gridWrapper">
        <div :style="textStyle" class="text">
          <h2 :style="centerText">これでよろしいですか？</h2>
        </div>

        <div :style="itemsStyle" class="items">
          <div class="input-boxes">
            <form :action="lendPath" method="post" id="s">
              <div class="confirm-boxes" :style="flexCol">
                <div v-for="i in range">
                  <input type="text" :id="`book${i}`" :name="`book${i}`" readonly :value="books[i-1]">
                </div>
              </div>
            </form>
          </div>
        </div>

        <div :style="buttonsStyle" class="buttons">
          <button form="s" class="btn-large" type="submit" @click="done">enter</button>
          <button class="btn-large" type="button" @click="backToSelect">cancel</button>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      books: ['', '', '', '', ''],
      range: 5,
      flexCol: {
        'display': 'flex',
        'flex-direction': 'column',
      },
      flexRow: {
        'display': 'flex'
      },
      ready: false,
      gridWrapper: {
        'display': 'grid',
        'grid-template-columns': '3fr 2fr',
        'grid-template-rows': '1fr 3fr',
        'margin': '40px auto 0',
      },
      textStyle: {
        'grid-column': '1 / 3',
        'grid-row': '1 / 2'
      },
      buttonsStyle: {
        'grid-column': '2 / 3',
        'grid-row': '2 / 3',
        'display': 'flex',
        'flex-direction': 'column',
        'justify-content': 'space-around',
        'padding': '30% 10% 20% 10%'
      },
      itemsStyle: {
        'grid-column': '1 / 2',
        'grid-row': '2 / 3'
      },
      centerText: {
        'text-align': 'center'
      },
      container: {
        'border-radius': '10px',
        'max-width': '60%',
        'background': 'white'
      }
    },
    computed: {
      lendPath() {
        return `/lend?num=${location.search.match(/\d{8}/)[0]}`
      },
      allEmpty() {
        return this.books.every(v => v.length === 0)
      }
    },
    methods: {
      cancel() {
        window.location.href = '/login'
      },
      clear(i) {
        // 配列をインデックスアクセスで変更していたため、
        // 再描画を起こすためにいろいろやっていましたが、
        // 以下のようにすれば必要ありませんでした
        // https://jp.vuejs.org/v2/guide/list.html#配列の変化を検出
        Vue.set(app.books, i - 1, '')
      },
      getTitle(i) {
        return `book${i}'s title`
      },
      done() {
        this.ready = true
      },
      backToSelect() {
        this.ready = false
      },
      nextBox(i) {
        document.getElementById(`book${(i % 5) + 1}`).focus()
      },
      prevBox(i) {
        // ここを上と同じように簡潔に書きたかった
        let j;
        if (i === 1) {
          j = 5
        } else {
          j = i - 1
        }
        document.getElementById(`book${j}`).focus()
      }
    }
  })
</script>

</html>