<!--type="reset"でも消せるが、フォーカスをあてるためにメソッド定義-->
<button type="button" @click="clear">消去</button>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      num: ''
    },
    methods: {
      clear() {
        this.num = ''
        document.getElementsByTagName('input')[0].focus();
      }
    }
  })
</script>