<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Select</title>
</head>

<body>
  <div id="app">
    <p>番号を入力してください</p>

    <form :action="lendPath" method="post">
      <div class="f" v-for="(v, i) in books">
        <label :for="v.id">text</label>
        <input type="text" :name="inputName(v)" v-model="v.code" :id="v.id" autofocus>
        <button type="button" @click="remove(i)">remove</button>
      </div>

      <button type="button" @click="add">add</button>
      <button type="submit">send</button>
    </form>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      books: [{ id: 1, code: '' }]
    },
    computed: {
      lendPath() {
        return `/lend?num=${location.search.match(/\d{8}/)[0]}`
      }
    },
    methods: {
      add() {
        const len = this.books.length + 1
        this.books.push({ id: len, code: '' })
        // 新しく追加したフォームにフォーカスをあてたかったけどどうしてもできないらしい
        // watchプロパティでもだめっぽい & setTimeoutで待ってみてもだめ
        // document.getElementsByClassName('books')[len - 1].focus()
      },
      remove(i) {
        this.books.splice(i, 1)
      },
      inputName(obj) {
        return `book${obj.id.toString()}`
      }
    }
  })
</script>

</html>